// Put your custom SCSS code here
.footer {
    border-top: 1px solid #e9ecef;
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.bg-dots {
    height: 18rem;
}